.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin: 0 auto;
  margin-top: 40px;
}

.features-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 5rem;
}

.features-container p:first-of-type {
  font-family: "Raleway", sans-serif;
  margin-top: 40px;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-size: large;
}

.features-container p:last-child {
  font-size: small;
  margin-top: 20px;
  line-height: 1.4rem;
}

.information {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 300px;
  margin: 0 auto;
  margin-top: 9.5rem;
}

.information h2 {
  font-family: "Raleway", sans-serif;
  font-size: large;
  letter-spacing: 0.2px;
  margin-top: 40px;
}

.information p, a {
  margin-top: 20px;
}

.info-box a {
  display: flex;
  align-content: center;
  gap: 0.5rem;
  color: hsl(176, 68%, 64%);
  cursor: pointer;
}

.info-box a:hover{
  color: hsl(0, 0%, 100%);
}

hr{
  border-color: hsl(176, 68%, 64%);
  margin-top: 0.5rem;
  width:9.3rem;
}

hr:hover{
  border-color: hsl(0, 0%, 100%);
}

.arrow-icon{
  margin-top: 0.2rem;
  width: 15px;
  height: 15px;
}

.arrow-icon:hover{
  filter: brightness(0) invert(1);
}

.info-img {
  width: 300px;
}

.testimonials-wrapper {
  margin-top: 10rem;
}

.testimonials {
  position: relative;
  background-color: hsl(219, 30%, 18%);
  padding: 20px;
  margin-bottom: 2rem;
  border-radius: 5px;
  text-align: left;
  min-width: 330px;
  height: 22vh;
}

.quote-img {
  position: absolute;
  top: 171.1rem;
  width: 25px;
  margin-left: 7px;
}

.testimonials p {
  font-size: small;
}

.testimonial-list-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 25px;
}

.icon-profile-styles {
  border-radius: 50%;
  width: 40px;
  margin-right: 10px;
}

.list-style {
  list-style: none;
  padding: 0;
  margin-left: 2px;
}

#title-list-testimonials {
  font-size: x-small;
  line-height: 2rem;
}

@media (max-width:375px){
  .testimonials {
    height: 30vh;
  }

  .quote-img {
    top: 170.4rem;
  }
}

@media (min-width:600px) and (max-width:900px){
  .testimonials {
    height: 32vh;
  }

  .quote-img {
    top: 170.4rem;
  }
}

@media (min-width:900px) and (max-width:1200px){
  .testimonials {
    height: 32vh;
  }

  .quote-img {
    top: 170.4rem;
  }
}

@media (min-width: 1200px) {

  .mainContainer {
    min-width: 60%;
    padding: 20px;
  }

  .features-wrapper {
    display: grid;
    grid-template-areas:
      "feature1   feature2"
      "feature3   feature4";
    grid-template-columns: repeat(2fr);
    grid-template-rows: repeat(2fr);
    grid-column-gap: 7rem;
  }

  .feature1 {
    grid-area: feature1;
  }

  .feature2 {
    grid-area: feature2;
  }

  .feature3 {
    grid-area: feature3;
  }

  .feature4 {
    grid-area: feature4;
  }

  .information {    
    position: relative;
    flex-direction: row;
    align-items: center;
    width: 85vw;
    display: grid;
    grid-template-areas: "imagen info";
    grid-template-columns: repeat(2fr);
    grid-template-rows: 1fr;
    grid-column-gap: 4rem;
  }

  .icon-info {
    grid-area: imagen;
  }

  .info-img {
    width: 500px;
  }

  .info-box {
    grid-area: info;
  }

  .information h2 {
    font-size: xx-large;
    padding-right: 4rem;
    line-height: 2.5rem;
    white-space: normal;
  }

  hr{
    position: absolute;
    top: 20rem;
    left: 35.2rem;
    margin-top: 0.7rem;
  }

  .testimonials{
    position: relative;
    min-height: 32vh;
  }
  
  .quote-img {
    position: absolute;
    top: 129.9rem;
    left: 3.8rem;
    width: 35px;
    margin-left: 7px;
  }

  .testimonials-container{
    display: grid;
    grid-template-areas: "profile1 profile2 profile3";
    grid-template-columns: repeat(3fr);
    grid-template-rows: 1fr;
    grid-column-gap: 2rem;
  }

  .first-profile {
    grid-area: profile1;
  }

  .second-profile {
    grid-area: profile2;
  }

  .third-profile {
    grid-area: profile3;
  }

  .testimonials{
    height: 28vh;
  }
}

@media (min-width: 1300px) and (max-width:1440px){

  .information h2 {
    padding-right: 13rem;
  }

  .testimonials{
    min-height: 28vh;
  }

  .quote-img {
    width: 37px;
    top: 128.8rem;
    left: 8.4rem;
  }
}
