.navbar {
    display: flex;
    padding: 20px;
    align-items: center;
    margin-top: 7px;
}

.logoNavBar{
    display: flex;
    width: 100px;
    height: 30px;
}

.navbar-list{
    display: flex;
    list-style: none;
    gap: 20px;
    margin-left: auto;
    color: hsla(0, 0%, 100%, 0.7);
    cursor: pointer;
}

.navbar-list a{
    color: hsla(0, 0%, 100%, 0.7);
}

.navbar-list a:hover{
    color: hsla(0, 0%, 100%, 1); 
}

.navbar-list li:hover{
    color: hsla(0, 0%, 100%, 1); 
}

@media (min-width: 1200px) {
    .navbar-list{
        justify-items: flex-end;
    }
}