
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

.form-email-container {
    font-family: 'Raleway', sans-serif;
    position: absolute; 
    top: 222rem; 
    left: 50%;  
    z-index: 5;
    transform: translateX(-50%); 
    background-color: hsl(217, 28%, 15%);
    border-radius: 12px;
    min-width: 300px;
    height: 44vh;
    padding: 30px;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    text-align: center;
}
/* .form-email-container p{
    display: flex;
    justify-content: center;
    align-items: center;
} */
.form-email-container p:first-of-type{
    font-size: large;
    font-weight: 700;
    margin-top: 15px;
}
.form-email-container p:nth-child(2){
    line-height: 1.5rem;
    font-family: 'Open Sans', sans-serif;
    margin-top: 20px;
}
input{
    border: none;
    border-radius: 40px;
    padding: 21px;
    width: 290px;
    height: 55px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 20px;
}

input ::placeholder{
    color: hsl(217, 28%, 60%);
}

button{
    background-color:  hsl(198, 60%, 50%);
    color: hsl(0, 0%, 100%);
    border: none;
    border-radius: 40px;
    width: 290px;
    height: 60px;
    font-weight: 700;
    font-size: medium;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
    margin-top: 20px;
    cursor: pointer;
}

button:hover{
    background-color:hsl(176, 68%, 64%);
    
}

@media (min-width: 1200px) {
    .form-email-container{
        top: 155rem;
    }
    input, button {
        display: flex;
        flex-direction: row;
        display: inline;
        margin-right: 10px; 
    }

    
}