@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh; 
  font-size: 14px;
  color: hsl(0, 0%, 100%);
  font-family: "Open Sans", sans-serif;
  background: linear-gradient(
    to bottom,
    hsl(217, 28%, 15%) 8.7%,
    hsl(218, 28%, 13%) 7%
  );
}

.modal-login {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 80%;
  background-color: hsl(216, 53%, 9%);
}

.form-login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin: 0 auto;
  position: fixed;
  left: 50%;
  top: 10%;
  padding: 20px;
  max-width: 370px;
  font-family: "Raleway", sans-serif;
  z-index: 5;
  transform: translateX(-50%);
  background-color: hsl(217, 28%, 15%);
  border-radius: 12px;
  overflow-y: auto; 
  max-height: 80vh;
}

.form-login-container h2 {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.form-login-container label {
  text-align: left;
  padding-left: 0.5rem;
  margin-top: 0px; 
}

.input-login{
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.close {
  color: #aaa;
  position: absolute;
  top: 5px; 
  right: 12px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: #000;
}

#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}


@media (max-width:375px){
  body {
    background: linear-gradient(
      to bottom,
      hsl(217, 28%, 15%) 8%,
      hsl(218, 28%, 13%) 9%
    );
  }
}

@media (min-width:400px) and (max-width:600px){
  body {
    background: linear-gradient(
      to bottom,
      hsl(217, 28%, 15%) 9%,
      hsl(218, 28%, 13%) 7%
    );
  }
}

@media (min-width:640px) and (max-width:900px){
  #root{
    width: 100%;
    background-image: url("/icons/bg-curvy-desktop.svg");
    background-position: 50% 7%;
    background-repeat: no-repeat;
    background-size: contain;
  }
  body {
    background: linear-gradient(
      to bottom,
      hsl(217, 28%, 15%) 10.5%,
      hsl(218, 28%, 13%) 7%
    );
  }
}

@media (min-width:900px){
  #root{
    width: 100%;
    background-image: url("/icons/bg-curvy-desktop.svg");
    background-position: 50% 7%;
    background-repeat: no-repeat;
    background-size: contain;
  }
  body {
    background: linear-gradient(
      to bottom,
      hsl(217, 28%, 15%) 11.5%,
      hsl(218, 28%, 13%) 7%
    );
  }
}

@media (min-width: 1200px) {
  #root {
    width: 100%;
    background-image: url("/icons/bg-curvy-desktop.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 16.8%;
  }

  body {
    min-height: 20vh;
    background: linear-gradient(
      to bottom,
      hsl(217, 28%, 15%) 26%,
      hsl(218, 28%, 13%) 20%
    );
  }

  .modal-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: hsl(216, 53%, 9%);
  }
  
  .form-login-container {
    justify-content: center;
    justify-content: center;
    margin: 0 auto;
    position: fixed;
    left: 50%;
    top: 20%;
    padding: 20px;
    max-width: 50%;
    transform: translateX(-50%);
    max-height: 85vh;
  }
  
  .form-login-container h2 {
    text-align: center;
    margin-top: 1rem;
  }

  .form-login-container label {
    padding-left: 1rem;
  }

  .form-login-container button {
    align-self: center;
    margin-top: 1rem;
  }

  .close {
    color: #aaa;
    position: absolute;
    top: 5px; 
    right: 12px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover {
    color: #000;
  }

  #error-page {
    background-color: hsl(218, 28%, 13%); 
    position: fixed;
    top: 0;
    left: 0;
    min-width: 1700px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 999; 
  }

  #error-page-container{
    text-align: center;
    margin-left: -25% ;
  }
}

@media (min-width: 1300px) {
  body {
    background: linear-gradient(
      to bottom,
      hsl(217, 28%, 15%) 28%,
      hsl(218, 28%, 13%) 20%
    );
  }
}
